
html, body, .game {
    height: 100%;
    margin: 0; padding: 0;
}

body {
    background: linear-gradient(#004, #408) fixed;
    
}

.planet {
    background: #cff;
    width: 80vmin;
    height:80vmin;
    border-radius: 50%;
    position: fixed;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
    perspective: 80vmin;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 0 8vmin rgba(255,230,255,0.8);
}
.surface {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateZ(20vmin);
}
.planet * {
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
}

.continent {
    width: 10vmin; height: 20vmin;
    background: #080;
}

.viewport {
    width: 400%;
    height: 200%;
}

